* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Public Sans', sans-serif;
  font-size: 1.125rem;
  overflow-x: hidden;
}
img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  min-height: 5rem;
  padding: 1.5rem 0;
  background: hsl(0, 0%, 100%);
  gap: 1.25rem;
  position: relative;
  z-index: 100;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 475px) {
  body {
    font-size: 1rem;
  }

  .container {
    grid-template-columns: 1fr;
    /* grid-template-columns: 1.25rem auto auto 1.25rem; */
  }
}

.header-content {
  grid-column: 2 / 12;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}

.menu-list {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-list li a {
  display: block;
  color: hsl(233, 8%, 62%);
  padding: 0.5rem;
  margin: 0 0.5rem;
  position: relative;
  transition: 0.3s ease-in-out;
}

.menu-list li a:hover,
.menu-list li a:focus {
  color: hsl(233, 26%, 24%);
}

.menu-list li a::after {
  content: '';
  display: none;
  width: 90%;
  height: 4px;
  background: linear-gradient(90deg, #20e755 0%, rgba(43, 183, 218, 0.74) 100%);
  position: absolute;
  left: 4px;
  top: 58px;
  transition: 0.3s ease-in-out;
}

.menu-list li a:hover::after,
.menu-list li a:focus::after {
  display: block;
}

.btn {
  width: 160px;
  height: 45px;
  background: linear-gradient(90deg, #20e755 0%, rgba(43, 183, 218, 0.74) 100%);
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(
    90deg,
    rgba(32, 231, 85, 0.58) 0%,
    rgba(43, 183, 218, 0.71) 100%
  );
}

.btn-mobile {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.5s ease;
}

@media (max-width: 475px) {
  .header-content {
    grid-column: 1;
    padding: 0 2rem;
  }

  .btn-mobile {
    display: block;
  }

  .active .btn-mobile img {
    display: none;
  }

  .active .btn-mobile {
    background: url('../images/icon-close.svg') no-repeat center center;
    width: 20px;
    height: 20px;
  }

  .active .menu {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    z-index: 20;
  }
  .active .menu-list {
    background: hsl(0, 0%, 100%);
    flex-direction: column;
    padding: 1.25rem;
    border-radius: 0.5rem;
  }

  .active .menu-list li {
    padding: 0.3rem;
  }

  .active .menu-list li a {
    color: hsl(233, 26%, 24%);
  }

  .active .menu-list li a:focus::after {
    display: none;
  }

  .menu {
    display: none;
  }

  .header .btn {
    display: none;
  }
}

.hero {
  grid-template-rows: 40rem;
  align-items: center;
  gap: 1.25rem;
  background-color: hsl(0, 0%, 98%);
  position: relative;
}

.hero-intro {
  padding: 0 1.25rem;
  grid-column: 2 / 6;
  /* grid-row: 1; */
  width: 500px;
  position: relative;
}

.hero::after {
  display: block;
  content: '';
  background: url('../images/bg-intro-desktop.svg') no-repeat center center;
  height: 113%;
  width: 100%;
  top: -85px;
  right: -500px;
  position: absolute;
}

.hero-intro h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: hsl(233, 26%, 24%);
}

.hero-intro p {
  color: hsl(233, 8%, 62%);
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

.hero-img {
  grid-column: 6 / -1;
  /* grid-row: 1; */
}

.hero-img img {
  transform: translate3d(140px, 30px, 0);
  position: relative;
  z-index: 1;
}

@media (max-width: 475px) {
  .hero {
    align-items: flex-start;
    grid-template-rows: auto;
    gap: 0;
  }

  .hero::after {
    display: none;
  }

  .hero-img {
    grid-column: 1;
    grid-row: 1;
    padding: 0 1.5rem;
    margin-top: -140px;
  }

  .hero-img img {
    transform: translate3d(0, 0, 0) !important;
    position: relative;
    z-index: 1;
  }

  .hero-intro {
    grid-column: 1;
    padding: 1rem 2rem 2rem;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-intro h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .hero-intro p {
    font-size: 0.875rem;
    text-align: justify;
  }
}

.section-services {
  gap: 1.25rem;
  padding: 5rem 0;
  background-color: hsl(220, 16%, 96%);
  z-index: 1;
}

.services-info {
  grid-column: 2 / 9;
  max-width: 680px;
  grid-row: 1;
  padding: 1.25rem;
  margin-bottom: 2rem;
}

.services-info h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: hsl(233, 26%, 24%);
}

.services-info p {
  color: hsl(233, 8%, 62%);
  line-height: 1.75rem;
}

.services-card-container {
  grid-column: 2 / 12;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 1.25rem;
}

.services-card {
  max-width: 250px;
}

.services-card h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: hsl(233, 26%, 24%);
}

.services-card p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: hsl(233, 8%, 62%);
  text-align: left;
}

.services-card-image {
  width: 70px;
  height: 70px;
  margin-bottom: 2rem;
}

@media (max-width: 475px) {
  .services-info {
    grid-column: 1;
    margin-bottom: 1rem;
  }

  .services-info h2 {
    text-align: center;
  }

  .services-info p {
    font-size: 0.875rem;
    text-align: center;
  }

  .services-card-container {
    grid-column: 1;
    flex-direction: column;
    justify-content: center;
  }

  .services-card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem 0;
  }

  .services-card h3 {
    text-align: center;
  }

  .services-card p {
    text-align: center;
  }
}

.section-articles {
  background-color: hsl(0, 0%, 98%);
  padding: 5rem 0;
}

.section-articles h2 {
  grid-column: 2 / 8;
  grid-row: 1;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 1.5rem;
  margin-bottom: 3rem;
  color: hsl(233, 26%, 24%);
}

.articles-container {
  grid-column: 2 / 12;
  grid-row: 2;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 1.25rem;
}

.article-card {
  border-radius: 0.5rem;
  max-width: 250px;
  background: hsl(0, 0%, 100%);
}

.article-card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 1.25rem 1.5rem;
}

.card-content small {
  display: inline-block;
  font-size: 0.75rem;
  color: hsl(233, 8%, 62%);
  margin: 0.5rem 0rem 1rem;
}

.card-content h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.875rem;
}

.card-content h3 a {
  color: hsl(233, 26%, 24%);
  transition: 0.3s;
}

.card-content h3 a:hover,
.card-content h3 a:focus {
  color: hsl(136, 65%, 51%);
}

.card-content p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: hsl(233, 8%, 62%);
}

@media (max-width: 475px) {
  .section-articles h2 {
    grid-column: 1;
    text-align: center;
  }

  .articles-container {
    grid-column: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .article-card {
    max-width: 100%;
  }
}

.footer {
  background-color: hsl(233, 26%, 24%);
  padding: 3rem 0 0.5rem;
  align-items: center;
}

.footer-content {
  grid-column: 2 / 12;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 0 1.5rem;
}

.footer-content-link svg {
  margin-bottom: 3rem;
}

.footer-content-link svg > g > path {
  fill: hsl(0, 0%, 100%);
}
.social-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-link a {
  height: 22px;
}

.social-link a svg path {
  transition: 0.2s ease;
}

.social-link a svg path:hover {
  fill: hsl(136, 65%, 51%);
}

.mapa-site {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.mapa-site li {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.mapa-site li:nth-last-child(1) {
  margin-bottom: 0;
}

.mapa-site li a {
  color: hsl(220, 16%, 96%);
  transition: 0.3s;
}

.mapa-site li a:hover,
.mapa-site li a:focus {
  color: hsl(136, 65%, 51%);
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.copy .btn {
  margin-bottom: 1.5rem;
}

.copy p {
  font-size: 0.875rem;
  color: hsl(220, 16%, 96%);
}

.attribution {
  grid-row: 2;
  grid-column: 2 / 12;
  margin-top: 2rem;
}

@media (max-width: 475px) {
  .footer-content-link svg {
    margin-bottom: 1.5rem;
  }

  .footer-content {
    grid-column: 1;
    flex-direction: column;
    justify-content: center;
  }

  .social-link {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .mapa-site {
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    margin-bottom: 1rem;
  }

  .mapa-site li a {
    display: block;
    text-align: center;
  }

  .copy {
    align-items: center;
    justify-content: center;
  }

  .attribution {
    display: none;
  }
}
